:root,
.prefers-light-scheme {
	--kd-color-brand: 139 92 246;
	--kd-color-focus: 79 70 229;
	--kd-color-soft: 68 78 94;
	--kd-color-body: 250 250 250;
	--kd-color-elevate: 243 244 246;
	--kd-color-inverse: 5 11 23;
	--kd-color-border: 209 213 219;
}

:root {
	scroll-padding-top: 6rem;

	--kd-font-family-sans: Inter VF, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
		'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
		'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

	--kd-font-family-mono: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation, Mono,
		Fira Code VF, monospace;

	--kd-navbar-height: 4rem;
	--kd-navbar-padding: 1rem 0.5rem;
	--kd-navbar-max-width: 1440px;
	--kd-navbar-border-bottom: 1px solid rgb(var(--kd-color-border));
	--kd-breadcrumbs-height: 5rem;

	--kd-sidebar-min-width: 320px;
	--kd-sidebar-max-width: screen;
	--kd-sidebar-padding: 0 1.75rem 2rem;
	--kd-sidebar-border-active: rgb(var(--kd-color-brand));

	--kd-content-max-width: 1440px;
	--kd-main-max-width: unset;
	--kd-article-max-width: 85ch;

	--kd-main-padding-x: 1rem;
}

@media screen and (min-width: 992px) {
	:root {
		--kd-main-padding-x: 4rem;
		--kd-breadcrumbs-height: 0px;
		--kd-sidebar-min-width: 15rem;
		--kd-sidebar-max-width: 17rem;
		--kd-sidebar-padding: 0 0.5rem 2rem 1.5rem;
	}
}

@media screen and (min-width: 1200px) {
	:root {
		--kd-navbar-padding: 1.25rem 1.25rem;
	}
}

@media screen and (min-width: 1460px) {
	:root {
		--kd-navbar-padding: 1.25rem 0;
		--kd-sidebar-padding: 0 0.5rem 2rem 0.25rem;
	}
}

:root.dark,
.prefers-dark-scheme {
	color-scheme: dark;
	--kd-color-brand: 139 92 246;
	--kd-color-soft: 161 161 161;
	--kd-color-inverse: 245 245 245;
	--kd-color-border: 31 31 31;
	--kd-color-elevate: 4 5 7;
	--kd-color-body: 4 5 7;
	--kd-color-focus: 79 70 229;
}

.code-fence {
	--kd-code-fence-bg: rgb(13, 17, 23);
	--kd-code-fence-top-bar-bg: rgb(22, 27, 34);
	--kd-code-copied-bg-color: rgba(139, 92, 246, 1);
	--kd-terminal-line-pointer: rgba(139, 92, 246, 1);
	--kd-code-highlight-border: rgba(139, 92, 246, 1);
	--kd-code-highlight-color: rgba(139, 92, 246, 0.1);
}
